cmdstanpy>=0.4
numpy>=1.15.4
pandas>=1.0.4
matplotlib>=2.0.0
LunarCalendar>=0.0.9
convertdate>=2.1.2

holidays>=0.14.2
setuptools>=42
setuptools-git>=1.2
python-dateutil>=2.8.0
tqdm>=4.36.1
wheel>=0.37.0
altair==4.2.0
pystan==2.19.1.1
prophet
fbprophet==0.7.1
pmdarima==1.8.5
prompt-toolkit==3.0.29
protobuf==3.20.1
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
statsmodels==0.13.2
streamlit==0.82.0

